.Home {
    margin: 4vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomeHead {
    z-index: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    will-change: transform;
}

.HomeHead_logo {
    width: 15vw;
}

.HomeHead_userSpace {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.HomeHead_userName {
    font-weight: 600;
}

.HomeHead_exitbtn {
    font-weight: 400;
    opacity: .2;
}

.HomeBar_container {
    position: fixed;
    top: 0;
    z-index: 200;
    padding-top: 4vh;
    width: 95%;
    background-color: #ffffff;
    will-change: transform;
}

.HomeBar {
    padding-top: 4vh;
    display: flex;
    flex-direction: row;
    font-size: 5vw;
    font-weight: 400;
    will-change: transform;
}

.HomeBar div {
    padding-right: 1vw;
    opacity: .2;
}

.HomeSeparator {
    height: 1px;
    width: 100%;
    background-color: #000000;
    will-change: transform;
}

.HomeFilters {
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
    will-change: transform;
}

.HomeFiltersEntity {
    margin-right: 1vw;
    font-weight: 600;
    font-size: 1.3vw;
    position: relative;
}

.HomeFiltersButton {
    padding: .3vh 1vw;
    border-width: 1.3px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    cursor: pointer;
}

.HomeFiltersEntity_selector {
    margin-top: 1vh;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    width: 250%;
    height: 30vh;
    background-color: rgb(211, 211, 211);
    overflow: scroll;
    opacity: 0;
}

.HomeFilterSE_status {
    border-width: 2px;
    width: 1vw;
    height: 1vw;
    border-color: #00000067;
    border-style: solid;
    border-radius: 10px;
}

.HomeFiltersSelectorEntity {
    font-weight: 500;
    font-size: 1.2vw;
    padding: .8vw 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.HomeFiltersSelectorEntity:hover {
    background-color: #ffffff52;
}

.HomeContent {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    width: 100%;
    padding-top: 35vh;
    will-change: transform;
}

.HomeClass {
    font-weight: 600;
    font-size: 1.5vw;
    color: #102D69;
    padding: 4vh 0 2vh 0;
}

.HomeClassContent {
    display: flex;
    flex-direction: column;
}

.HomeClassDay {
    padding: 2vh 0 0 0;
    font-weight: 600;
    font-size: 1.5vw;
}

.HomeContentEntity {
    border-width: 0 0 1px 0;
    border-style: solid;
    padding: 4vh 0 4vh 0;
    border-color: #000000;
    display: flex;
    width: 95%;
    flex-direction: row;
    cursor: pointer;
    transition: background-color .2s;
}

.HomeContentEntity:hover {
    background-color: rgba(0, 0, 0, .1);
}

.HCE_infoContainer {
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
    width: 10%;
    justify-content: space-between;
}

.HCE_titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3vw;
}

.HCE_roomContainer {
    display: flex;
    flex-direction: row;
}

.HCE_roomTime {
    opacity: .2;
}

.HCE_roomHighlight {
    font-weight: 500;
    color: #7D50B9;
    opacity: 1;
}

.HCE_roomContainer div {
    padding-right: .5vw;

}

.HCE_title {
    width: 80%;
    font-size: 1.8vw;
    font-weight: 600;
}

.HomeContentDetails {
    position: fixed;
    z-index: 200;
    width: 96vw;
    padding: 0 2vw;
    height: 100%;
    background-color: #ffffff;
    bottom: 0;
}

.HCD_Head {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HCD_title {
    width: 70%;
    font-weight: 600;
}

.HCD_HeadContent {
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HCD_HeadDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.HCD_backbtn {
    font-size: 1.3vw;
    font-weight: 500;
    opacity: .3;
}

.HCD_HD_type {
    font-size: 1.3vw;
    font-weight: 500;
    color: #7D50B9;
}

.HCD_HD_time {
    font-size: 2vw;
    font-weight: 600;
    opacity: .5;
}

.HCD_HD_room {
    font-size: 1.3vw;
}

.HCD_Host {
    font-size: 2vw;
}

@media only screen and (max-width: 1200px) {
    .HomeFiltersEntity {
        margin-right: 1vw;
        font-weight: 600;
        font-size: 2vw;
        position: relative;
    }
    .HomeContent {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        width: 100%;
        padding-top: 25vh;
    }
    .HomeClass {
        font-weight: 600;
        font-size: 2vw;
        color: #102D69;
        padding: 4vh 0 2vh 0;
    }
    .HomeClassDay {
        padding: 2vh 0;
        font-weight: 600;
        font-size: 2vw;
    }
    .HomeContentEntity {
        border-width: 0 0 1px 0;
        border-style: solid;
        padding: 4vh 0 4vh 0;
        border-color: #000000;
        display: flex;
        width: 95%;
        flex-direction: row;
        cursor: pointer;
        transition: background-color .2s;
    }
    .HCE_infoContainer {
        display: flex;
        flex-direction: column;
        font-size: 1.9vw;
        width: 15%;
        justify-content: space-between;
    }
    
    .HCE_titleContainer {
        padding-left: 5vw;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5vw;
    }
    .HCE_title {
        font-size: 2.5vw;
        font-weight: 600;
    }
    .HomeHead_logo {
        width: 20vw;
    }
    .HomeHead_userSpace {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 1.6vw;
    }
}

@media only screen and (max-width: 900px) {
    .HomeBar {
        font-size: 10vw;
    }
    .HomeFiltersEntity {
        margin-right: 1vw;
        font-weight: 600;
        font-size: 2.5vw;
        position: relative;
    }
    .HomeContent {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        width: 100%;
        padding-top: 30vh;
    }
    .HomeClass {
        font-weight: 600;
        font-size: 2.5vw;
        color: #102D69;
        padding: 4vh 0 2vh 0;
    }
    .HomeClassDay {
        padding: 1vh 0;
        font-weight: 600;
        font-size: 2.5vw;
    }
    .HomeContentEntity {
        border-width: 0 0 1px 0;
        border-style: solid;
        padding: 2vh 0 2vh 0;
        border-color: #000000;
        display: flex;
        width: 95%;
        flex-direction: row;
        cursor: pointer;
        transition: background-color .2s;
    }
    .HCE_infoContainer {
        display: flex;
        flex-direction: column;
        font-size: 2.5vw;
        width: 15%;
        justify-content: space-between;
    }
    
    .HCE_titleContainer {
        padding-left: 5vw;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2vw;
    }
    .HCE_title {
        font-size: 2.5vw;
        font-weight: 600;
    }
    .HomeHead_logo {
        width: 25vw;
    }
    .HomeHead_userSpace {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 2vw;
    }
}


@media only screen and (max-width: 600px) {
    .HomeBar {
        font-size: 15vw;
        padding-top: 1vh;
        width: 100vw;
    }
    .HomeFilters {
        padding-top: 3vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .HomeFiltersEntity {
        margin-right: 1vw;
        font-weight: 600;
        font-size: 4vw;
        position: relative;
    }
    .HomeContent {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        width: 100%;
        padding-top: 33vh;
    }
    .HomeClass {
        font-weight: 600;
        font-size: 5vw;
        color: #102D69;
        padding: 4vh 0 2vh 0;
    }
    .HomeClassDay {
        padding: 1vh 0;
        font-weight: 600;
        font-size: 5vw;
    }
    .HomeContentEntity {
        border-width: 0 0 1px 0;
        border-style: solid;
        padding: 4vh 0 4vh 0;
        border-color: #000000;
        display: flex;
        width: 95%;
        flex-direction: column;
        cursor: pointer;
        transition: background-color .2s;
    }
    .HCE_infoContainer {
        display: flex;
        flex-direction: row;
        font-size: 3.8vw;
        width: 100%;
        justify-content: flex-start;
        padding-bottom: 1vh;
    }
    .HCE_infoContainer div {
        padding-right: 2vw;
    }
    
    .HCE_titleContainer {
        padding-left: 0vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 4vw;
    }
    .HCE_title {
        font-size: 5vw;
        font-weight: 600;
        padding-bottom: 1vh;
    }
    .HomeHead_logo {
        width: 45vw;
    }
    .HomeHead_userSpace {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 2vw;
    }
    .HomeFiltersSelectorEntity {
        font-weight: 500;
        font-size: 5vw;
        padding: 2vw 1vw;
    }
    .HomeFiltersButton {
        padding: 1vh 1.5vw;
        display: flex;
        font-size: 5vw;
        width: 120px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-width: 1.3px;
        border-radius: 6px;
        border-style: solid;
        border-color: black;
        cursor: pointer;
    }
    .HomeFiltersEntity_selector {
        width: 240%;
    }
}